textarea {
	width: 100%;
}

#tabs {
	min-height: 300px;
}

/*for drag and drop*/
.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}

.portlet {
 	margin: 1em 1em 1em 1em; 
/*	width: 170px; */
}

.portlet-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
	padding: 0.4em;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.dropzone {
	/*background: #CCCCCC;*/
	border-style:dotted;
	min-width: 150px;
	min-height: 50px;
	padding: 0.5em;
	/*float: left;*/
	margin: 10px;
}

#sourceDrop {
	min-height: 75px;
}

#targetDrop {
	min-height: 75px;
}
/*
#mapTarget {
	float: left;
	width: 200px;
}
*/

ul {
    list-style-type: none;
}

.dropPortlet {
    /*width: 240px;*/
}

.mapTargetPortlet {
	/*width: auto;*/
	margin: 1em 1em 1em 1em;
}

.toolbar {
	/*padding: 10px 4px;*/
	display: block;
}

.urlInput {
	width:75%
}

