<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="../../resources/desktop/assets/css/smoothness/jquery-ui-1.8.16.custom.css" />


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>


	<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	
	 

	 $(document).ready(function() {

		populateEditTab();
	    
	 });
	 
	 function populateEditTab(){
			$.ajax( {
				"dataType": 'jsonp', 
				"type": "GET", 
				"contentType": "application/json",
				"url": "http://informatics.mayo.edu/exist/cts2/rest/codesystem/abcCodes?format=json", 
				"success": function(json){
					printJson(json, 0);
				}
			} );
		}
	 
	 function printJson(json, indents){
		 for(i in json){
			 	//for(var j = 0; i < 5; j++)
			    {
			 		//$("#tabs-1").append("-");
			    }

				if(! $.isArray(json)){
		 	 		$("#tabs-1").append("<span>" + i + "</span>");
				}
		 	 	if(json[i] instanceof Object){
		 	 		$("#tabs-1").append("<br>");
		 			printJson(json[i], indents+1);

		 	 	} else {
		 	 		var text = $("<span class='editable'>" + json[i] + "</span><br>");

		 	 		$("#tabs-1").append(text);
		 	 		
		 	 		text.editable(
		 			     	function(value, settings) { 
		 				        
		 				         return value;
		 			     	});
		 	 	}
	 	 		
		 }
	 }
	</script>
</head>
<body>

<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Nunc tincidunt</a></li>

		<li><a href="#tabs-2">Proin dolor</a></li>
		<li><a href="#tabs-3">Aenean lacinia</a></li>
	</ul>
	<div id="tabs-1">
		<p class='editable'>hi there</p>
	</div>
	<div id="tabs-2">
	</div>
	<div id="tabs-3">
	</div>
</div>

</div><!-- End demo -->



<div class="demo-description">
<p>Click tabs to swap between content that is broken into logical sections.</p>
</div><!-- End demo-description -->

</body>
</html>
